<%- include('./Partials/header.ejs') -%>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-head  er">
          <h2 class="text-center display-6 mt-3">Your query checklist</h2>
        </div> 
        <div class="modal-body">
          <% if(queries_length!=0){ %>
            <div class="container">
              <% for(var j=0;j<queries_length;j++) { %>
                <div class="card  mb-3">
                  <div class="card-header text-center">
                    <h4 class="text-capitalize text-dark">
                      <%= queries[j].name %>
                    </h4>
                    <p class="query__date">
                      <%= queries[j].date %>
                    </p>
                  </div>
                  <div class="card-body">
                    <p>
                      <%= queries[j].query_text %>
                    </p>
                  </div>
                  <div class="card-footer text-center">
                    <h4 class="student__mail"">Reply to: <%= queries[j].student_mail %></h4>
                    <% var delete_query = " /dashboard/" + queries[j].query_id %>
                      <p><a href="<%= delete_query %>" class="close__link">Mark as resolved</a> </p>
                  </div>
                </div>
                <% } %>
            </div>
            <% } else {%>
              <h1 class="text-center">No query raised &#128516; </h1>
              <% } %>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-between container mt-5">
    <button type="button" class="btn btn-primary doubt-button btn-lg" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      See all raised queries</button>
    <a href="/dashboard/generate" class="btn btn-primary btn-lg mr-5">Proceed to create lecture<i class="fas fa-arrow-right"></i></a>
  </div>

  <div class="container mt-5">
    <% if(length===0) {%>
      <h1 class="text-center"> Lecture created by you will visible here &#128512; </h1>  
      <% }else{ %>
    <h1 class="text-center font-weight-bold"> All lectures add by you </h1>
    <div class="row">
      <% for(var i=0;i<length;i++) {%>

        <% var src="https://techar-websystem.herokuapp.com/lecture/" + doc[i].lecture_id %>
        <!-- below route are pending to be formed -->
          <% var del_req="https://techar-websystem.herokuapp.com/dashboard/del/" +doc[i].lecture_id %>
            <% var edit="https://techar-websystem.herokuapp.com/dashboard/edit/" +doc[i].lecture_id %>
              <!-- <h1><%= src %></h1> -->
              <div class="col-md-4">
                <div class="card stylecard mt-3">

                  <div class="view overlay">
                    <!-- //working on this feature -->
                    <a class="btn btn-rounded btn-md btn-primary edit__btn btn-circle btn-sm" href="<%= edit %>">E</a>
                    <img class="card-img-top" src="images/physics.jpg" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>


                  <div class="card-body">

                    <!-- Title -->
                    <h3 class="card-title text-center text-capitalize">
                      <%= doc[i].title %>
                        </h4>
                        <hr>
                        <!-- Text -->
                        <p class="card-text set-width">
                          <%= doc[i].additional_note %>
                        </p>
                        <div class="text-center">

                          <div class="row">
                            <% setMail=mail %>
                              <% if(setMail) { %>
                                <div class="col-sm">
                                  <a class="btn  btn-rounded btn-md btn-primary text-center" onclick="deleteHandler('<%= del_req %>')" >Delete</a> 
                                  <% } %>
                                </div>
                          </div class="col-sm">
                          <a class="btn  btn-rounded btn-md btn-primary text-center" href="<%= src %>">See Whole
                            Lecture</a>

                        </div>
                  </div>

                </div>
              </div>
              <% } %>
    </div>
  <%}%>
  </div>
  <script>
  function deleteHandler(url) {
    swal({
      title: "Are you sure?",
      text: "You won't be able to recover it back think twice :( !",
      icon: "warning",
      buttons: [
        'No, cancel it!',
        'Yes, I am sure!'
      ],
      dangerMode: true,
    }).then(function(isConfirm) {
      if (isConfirm) {
        const Http = new XMLHttpRequest();
          console.log("yes")
          Http.open("GET", url);
          Http.send();
          window.location.reload();

      } else {
        swal("Cancelled", "fewwwwwwww safe :)", "error");
      }
    })
    }
</script>
